@model Assignment

@{
    ViewData["Title"] = "Assignment - Details";
}

<h2>Assignment - Details</h2>

<br />
<hr />

<table>
    <tr><th><label asp-for="@Model.AssignmentNumber"></label></th></tr>
    <tr><td>@Model.AssignmentNumber</td></tr>
    <tr><th><label asp-for="@Model.Title"></label></th></tr>
    <tr><td>@Model.Title</td></tr>
    <tr><th><label asp-for="@Model.Description"></label></th></tr>
    <tr><td>@Model.Description</td></tr>
</table>

<hr />

<td>
    <a asp-controller="Assignment" asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-sm btn-success">Edit</a>
    <a asp-controller="Assignment" asp-action="Delete" asp-route-id="@Model.ID" class="btn btn-sm btn-success">Delete</a> |
    <a asp-action="Index">Back to List</a>
</td>
