@model Assignment

@{
    ViewData["Title"] = "Assignment - Details";
}

<h2>Assignment - Details</h2>

<br />
<hr />

<div class="row badge-dark">

    <div class="col-2"><label asp-for="@Model.AssignmentNumber"></label></div>
    <div class="col-4"><label asp-for="@Model.Title"></label></div>
    <div class="col-3"><label asp-for="@Model.Description"></label></div>
    <div class="col-3"><label asp-for="@Model.Credits"></label></div>
</div>

<br />
<div class="row">
    <div class="col-2">@Model.AssignmentNumber</div>
    <div class="col-4">@Model.Title</div>
    <div class="col-3">@Model.Description</div>
    <div class="col-3">@Model.Credits</div>
</div>

<hr />

@*<a asp-controller="Assignment" asp-action="Edit" asp-route-id="@Model.CourseID" class="btn btn-sm btn-success">Edit</a>*@
@*<a asp-controller="Assignment" asp-action="Delete" asp-route-id="@Model.CourseID" class="btn btn-sm btn-success">Delete</a>*@ 
@*<a asp-action="Index">Back to Index</a>*@
<a asp-controller="Course" asp-action="Select" asp-route-id="@ViewBag.courseid">Back to Select</a>
