@model IEnumerable<Assignment>

@{
    ViewData["Title"] = "Assignments - Index";
}

<h2>Assignments - Index</h2>

<br />
<p><a asp-controller="Course" asp-action="Index" class="btn btn-sm btn-success">Back to Courses Index - Use Select</a></p>

<hr />

<p>Assignments is managed from Course</p>
@*<div class="row badge-dark">
        <div class="col-2">@Html.DisplayNameFor(model => model.AssignmentNumber)</div>
        <div class="col-7">@Html.DisplayNameFor(model => model.Title)</div>
        <div class="col-3"></div>
    </div>

    <br />
    @foreach (var item in Model)
    {
        <div id="row" class="row">
            <div class="col-2">@item.AssignmentNumber</div>
            <div class="col-7">@item.Title</div>
            <div class="col-3">
                <a asp-controller="Assignment" asp-action="Edit" asp-route-id="@item.ID" class="btn btn-sm btn-success">Edit</a>
                <a asp-controller="Assignment" asp-action="Details" asp-route-id="@item.ID" class="btn btn-sm btn-success">Details</a>
                <a asp-controller="Assignment" asp-action="Delete" asp-route-id="@item.ID" class="btn btn-sm btn-success">Delete</a>
            </div>
        </div>
    }

    <hr />*@
