@model Student

@{
    ViewData["Title"] = "Student - Details";
}

<h2>Student - Details</h2>

<br />
<hr />

<table>
    <tr><th><label asp-for="@Model.FirstName"></label></th></tr>
    <tr><td>@Model.FirstName</td></tr>
    <tr><th><label asp-for="@Model.LastName"></label></th></tr>
    <tr><td>@Model.LastName</td></tr>
    <tr><th><label asp-for="@Model.Email"></label></th></tr>
    <tr><td>@Model.Email</td></tr>
</table>

<hr />

<td>
    <a asp-controller="Student" asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-sm btn-success">Edit</a>
    <a asp-controller="Student" asp-action="Delete" asp-route-id="@Model.ID" class="btn btn-sm btn-success">Delete</a> |
    <a asp-action="Index">Back to List</a>
</td>
