@model IEnumerable<Student>

@{
    ViewData["Title"] = "Students - Index";
}

<h2>Stundents - Index</h2>

<br />
<p><a asp-controller="Student" asp-action="Create" method="get" class="btn btn-sm btn-success">Create New</a></p>

<hr />

<div class="row badge-dark">
    <div class="col-3">@Html.DisplayNameFor(model => model.FullName)</div>
    <div class="col-6">@Html.DisplayNameFor(model => model.Email)</div>
    <div class="col-3"></div>
</div>

<br />
@foreach (var item in Model)
{
    <div id="row" class="row">
        <div class="col-3">@item.FullName</div>
        <div class="col-6">@item.Email</div>
        <div class="col-3">
            <a asp-controller="Student" asp-action="Edit" asp-route-id="@item.ID" class="btn btn-sm btn-success">Edit</a>
            <a asp-controller="Student" asp-action="Details" asp-route-id="@item.ID" class="btn btn-sm btn-success">Details</a>
            <a asp-controller="Student" asp-action="Delete" asp-route-id="@item.ID" class="btn btn-sm btn-success">Delete</a>
        </div>
    </div>
}

<hr />
