@model CourseTeachersViewModel
@{
    ViewData["Title"] = "Add Teacher To Course";
}

<h2>Add Teacher To Course</h2>
<br />
<h4>@Model.course.Title</h4>
<br />
<hr />

@foreach (var item in Model.teachers)
{
    <table>
        <tbody>
            <tr>
                <td>
                    @item.FullName
                </td>
                <td>
                    <a asp-controller="Course" asp-action="AddTeacherCourseSave" asp-route-TeacherId="@item.ID" asp-route-id="@Model.course.ID" class="btn btn-sm btn-success">Add</a>
                </td>
            </tr>
        </tbody>
    </table>
}

<hr />
<a asp-controller="Course" asp-action="Select" asp-route-id="@Model.course.ID">Back to List</a>