@model StudentCourse
@{
    ViewData["Title"] = "Remove Student from Course";
}

<h2>Remove Student form Course</h2>

<br />
<p>Are you sure you want to remove this?</p>
<hr />

<table>
    <tr>
        <th>Student</th>
    </tr>
    <tr>
        <td>@Model.Student.FullName</td>
    </tr>
    <tr>
        <th>Course</th>
    </tr>
    <tr>
        <td>@Model.Course.Title</td>
    </tr>
</table>

<hr />
<form asp-action="DeleteStudentCourse">

    <input type="hidden" name="studentid" value="@Model.StudentId" />
    <input type="hidden" name="courseid" value="@Model.CourseId" />
    <input type="submit" value="Remove" class="btn btn-sm btn-danger" /> |
    <a asp-action="Select" asp-route-id="@Model.Course.ID">Back to List</a>
</form>


