@model Course

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h4>Courses</h4>


<p>Are you sure you want to delete this?</p>
<div>
    <hr />
    <dl class="row">
        <dt class="col-1">
            @Html.LabelFor(model => model.ID)
        </dt>
        <dd class="col-2">
            @Html.LabelFor(model => model.CourseID)
        </dd>
        <dt class="col-2">
            @Html.LabelFor(model => model.Title)
        </dt>
        <dd class="col-2">
            @Html.LabelFor(model => model.Description)
        </dd>
        <dd class="col-2">
            @Html.LabelFor(model => model.Credits)
        </dd>
        <dd class="col-3">

        </dd>
    </dl>

    <dl class="row">
        <dd class="col-1">
            @Html.DisplayFor(model => model.ID)
        </dd>
        <dd class="col-2">
            @Html.DisplayFor(model => model.CourseID)
        </dd>
        <dd class="col-2">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dd class="col-2">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dd class="col-2">
            @Html.DisplayFor(model => model.Credits)
        </dd>
        <dd class="col-3">

        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-sm btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>

