@model Course

@{
    ViewData["Title"] = "Course - Details";
}

<h2>Course - Details</h2>

<br />
<hr />

<div class="row">
    <div class="col-1"><label asp-for="@Model.CourseNumber"></label></div>
    <div class="col-3"><label asp-for="@Model.Title"></label></div>
    <div class="col-3"><label asp-for="@Model.Description"></label></div>
    <div class="col-1"><label asp-for="@Model.Credits"></label></div>
    <div class="col-4"></div>
</div>

<br />
<div class="row">
    <div class="col-1">@Model.CourseNumber</div>
    <div class="col-3">@Model.Title</div>
    <div class="col-3">@Model.Description</div>
    <div class="col-1">@Model.Credits</div>
    <div class="col-4"></div>
</div>

<hr />

<a asp-controller="Course" asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-sm btn-success">Edit</a>
<a asp-controller="Course" asp-action="Delete" asp-route-id="@Model.ID" class="btn btn-sm btn-success">Delete</a> |
<a asp-action="Index">Back to Index</a>
