@model Course

@{
    ViewData["Title"] = "Course - Details";
}

<h2>Course - Details</h2>

<br />
<hr />

<h4>Course</h4>

<table>
    <tr><th><label asp-for="@Model.CourseNumber"></label>  Number</th></tr>
    <tr><td>@Model.CourseNumber</td></tr>
    <tr><th><label asp-for="@Model.Title"></label></th></tr>
    <tr><td>@Model.Title</td></tr>
    <tr><th><label asp-for="@Model.Description"></label></th></tr>
    <tr><td>@Model.Description</td></tr>
    <tr><th><label asp-for="@Model.Credits"></label></th></tr>
    <tr><td>@Model.Credits</td></tr>
</table>
<br />

@*<a asp-controller="Course" asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-sm btn-success">Edit</a>
<a asp-controller="Course" asp-action="Delete" asp-route-id="@Model.ID" class="btn btn-sm btn-success">Delete</a> |*@

@*<hr />

<h4>Assignment</h4>

<br />
<p>
    <a asp-controller="Course" asp-action="CreateAssignment" method="get" class="btn btn-sm btn-success">Create New</a>
</p>*@

<hr />

<p>
    <a asp-controller="Course" asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-sm btn-success">Edit</a>
    <a asp-controller="Course" asp-action="Delete" asp-route-id="@Model.ID" class="btn btn-sm btn-success">Delete</a> |
    <a asp-action="Index">Back to List</a>
</p>
