@model Course

@{
    ViewData["Title"] = "Course - Select";
}

<h2>Course - Select</h2>

<br />
<p>Add and/or remove Teachers and Students form this Course!</p>

<hr />
<br />

<h4>Course</h4>

<table>
    <tbody>
        <tr>
            <td>
                <label asp-for="@Model.CourseNumber"></label>: @Model.CourseNumber
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="@Model.Title"></label>: @Model.Title
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="@Model.Description"></label>: @Model.Description
            </td>
        </tr>
    </tbody>
</table>

<hr />
<br />

<h4>Teacher</h4>

@if (@Model.Teacher != null)
{

    <table>
        <tbody>
            <tr>
                <td>
                    <label asp-for="@Model.Teacher.FullName"></label>: @Model.Teacher.FullName
                </td>
                <td>
                    <a asp-controller="Course" asp-action="DeleteTeacherCourse" asp-route-id="@Model.ID" class="btn btn-sm btn-success">Remove</a>
                </td>
            </tr>
        </tbody>
    </table>
}
else
{
    <br />
    <p><a asp-controller="Course" asp-action="AddTeacherCourse" asp-route-id="@Model.ID" class="btn btn-sm btn-success">Add Teacher</a></p>
}

<hr />
<br />

<h4>Students</h4>

@foreach (var item in Model.StudentCourses)
{
    <table>
        <tbody>
            <tr>
                <td>
                    <label asp-for="@item.Student.FullName"></label>: @item.Student.FullName
                </td>
                <td>
                    <a asp-controller="Course" asp-action="DeleteStudentCourse" asp-route-StudentId="@item.Student.ID" asp-route-id="@Model.ID" class="btn btn-sm btn-success">Remove</a>
                </td>
            </tr>
        </tbody>
    </table>
}

<br />
<p><a asp-controller="Course" asp-action="AddStudentCourse" asp-route-id="@Model.ID" class="btn btn-sm btn-success">Add Student</a></p>

<hr />

<table>
    <tr>
        <td>
            <a asp-action="Index">Back to List</a>
        </td>
    </tr>
</table>