@model Course

@{
    ViewData["Title"] = "Select";
}

<h2>Select</h2>

<br />

<h4>Course</h4>

<table>
    <tbody>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.ID): @Html.DisplayFor(model => model.ID)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Title): @Html.DisplayFor(model => model.Title)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)
            </td>
        </tr>
    </tbody>
</table>

<br />

<h4>Teacher</h4>

@if (@Model.Teacher != null)
{

    <table>
        <tbody>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Teacher.FullName): @Html.DisplayFor(model => model.Teacher.FullName)
                </td>
                <td>
                    <a asp-controller="Course" asp-action="DeleteTeacherCourse" asp-route-id="@Model.ID" class="btn btn-sm btn-success">Remove</a>
                </td>
            </tr>
        </tbody>
    </table>
}
else
{
    <br />
    <p><a asp-controller="Course" asp-action="AddTeacherCourse" asp-route-id="@Model.ID" class="btn btn-sm btn-success">Add Teacher</a></p>
}

<br />

<h4>Students</h4>

@*@if (@Model.StudentCourses.Count != 0)
    {*@
@foreach (var item in Model.StudentCourses)
{
    <table>
        <tbody>
            <tr>
                <td>
                    @Html.DisplayNameFor(modelItem => item.Student.FullName): @Html.DisplayFor(modelItem => item.Student.FullName)
                </td> 
                <td>
                    <a asp-controller="Course" asp-action="DeleteStudentCourse" asp-route-StudentId="@item.Student.ID" asp-route-id="@Model.ID" class="btn btn-sm btn-success">Remove</a>
                </td>
            </tr>
        </tbody>
    </table>
}
@*}
    else
    {*@
<br />
<p><a asp-controller="Course" asp-action="AddStudentCourse" asp-route-id="@Model.ID" class="btn btn-sm btn-success">Add Student</a></p>
@*}*@

<br />

<table>
    <tr>
        <td>
            <a asp-action="Index">Back to List</a>
        </td>
    </tr>
</table>