<nav>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Students", "Index", "Student")</li>
        <li>@Html.ActionLink("Teachers", "Index", "Teacher")</li>
        <li>@Html.ActionLink("Courses", "Index", "Course")</li>
        @*<li>@Html.ActionLink("Assignments", "Index", "Assignment")</li>*@
    </ul>
</nav>
